<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calibrate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

</head>
<body>


<div class="container">
    <h1>Calibrate</h1>
    <p>Select the cars. Change the size of the selector, via the slider, before hand. Refresh browser to restart!</p>
    <div class="row">
        <div class="col-12">
            <img src="/image" id="image" alt="image of street" class="img-fluid">
        </div>
        <div class="col-12">
            <button class="btn btn-primary btn-lg mt-4" onclick="send()">send</button>
        </div>
        <div class="col-12 mt-5">
            <div class="slidecontainer">
                <input type="range" onchange="sliderChange(this.value)" min="1" max="100" value="50" style='width:100%'
                       class="slider" id="myRange">
            </div>
            <div id="demo_placer"/>
        </div>
    </div>
</div>
<script>
    var min_radius = 10;
    var max_radius = 50;
    var _width = 30;
    var info = {coords: [], width: _width}
    $("#image").click(function (e) {
        var parentOffset = $(this).parent().offset();
        //or $(this).offset(); if you really just want the current element's offset
        var relX = e.pageX - parentOffset.left;
        var relY = e.pageY - parentOffset.top;
        info.coords.push({x: relX, y: relY});
        $('#image').parent().append(genMarker('', relX, relY))
    });

    function send() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                alert('received');
            }
        }
        xhr.open("POST", '', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(info));
    }

    function sliderChange(val) {
        _width = Math.round((max_radius - min_radius) * val * .01 + min_radius);
        updateDemo();
    }

    function updateDemo() {
        $('#demo').remove();
        var parentOffset = $('#demo_placer').parent().offset();
        var relX = $('#demo_placer').pageX - parentOffset.left;
        var relY = $('#demo_placer').pageY - parentOffset.top;
        var marker = genMarker('demo', relX, relY);
        $('#demo_placer').append(marker);
    }

    updateDemo();

    function genMarker(id, relX, relY) {
        if (!id) id = '';
        return "<div id='" + id + "' style='position:absolute;left:" + (relX - _width) + "px;top:" + (relY - _width) + "px;width:" + _width * 2 + "px; height:" + _width * 2 + "px;background-color:red;z-index:10000;__border-radius: " + _width + "px;'></div>"
    }


</script>

</body>
</html>